Flask==3.0.0
Pillow>=10.0.0
setuptools==75.0.0
nltk==3.6.5
metaphone==0.6
eng_to_ipa==0.0.2
jellyfish==1.0.3
jamo==0.4.1
pinyin-to-ipa>=1.0.0
pypinyin>=0.50.0
korean-romanizer>=0.28.0
koroman>=1.0.0
pykakasi>=2.0.0
