<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Similar Names</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Find Similar Names</h1>
        <form action="/find" method="POST">
            <label for="name">Enter Name:</label>
            <input type="text" id="name" name="name" required value='{% if input_fields %}{{ input_fields[0] }}{% endif %}'>
            
            <label for="input_type">Select Input Type:</label>
            <select id="input_type" name="input_type">
                <option value="english">English Name</option>
                <option value="turkish">Turkish Name</option>
                <option value="ipa">IPA Transcription</option>
                <option value="mp">Metaphone</option>
            </select>

            <label for="distance_dimension">Select Distance Function:</label>
            <select id="distance_dimension" name="distance_dimension">
                <option value="mp">Metaphone Edit Distance</option>
                <option value="ipa">IPA Edit Distance</option>
                <!-- <option value="hybrid">Hybrid</option> -->
            </select>

            <label for="gender">Select Gender Preference:</label>
            <select id="gender" name="gender">
                <option value="">No Preference</option>
                <option value="boy">Boy</option>
                <option value="girl">Girl</option>
            </select>

            <button type="submit">Search Similar Names</button>
        </form>

        {% if input_fields %}
        <div id='results'>
            <h1>Similar Names to '{{ input_name }}'</h1>
            <table>
                <thead>
                    <tr>
                        <th>Input name</th>
                        <th>Input IPA</th>
                        <th>Input metaphone</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>{{ input_fields[0] }}</td>
                            <td>{{ input_fields[1] }}</td>
                            <td>{{ input_fields[2] }}</td>
                        </tr>
                </tbody>
            </table>
            <hr>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Gender</th>
                        <th>Phonetic Transcription</th>
                        <th>IPA Transcription</th>
                        <th>IPA Alternatives</th>
                        <th>Similarity Score</th>
                    </tr>
                </thead>
                <tbody>
                    {% for name, gender, phonetic_repr, ipa_transcription, ipa_alternatives, similarity_score in similar_names %}
                        <tr>
                            <td>{{ name }}</td>
                            <td>{{ gender }}</td>
                            <td>{{ phonetic_repr }}</td>
                            <td>{{ ipa_transcription }}</td>
                            <td>{{ ipa_alternatives }}</td>
                            <td>{{ '%0.2f' % similarity_score }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

    <script>
    document.getElementById('input_type').addEventListener('change', function() {
        var inputType = this.value;
        var distanceFunctionDropdown = document.getElementById('distance_dimension');
        var distanceOptions = distanceFunctionDropdown.getElementsByTagName('option');

        // Enable all options initially and deselect all options
        for (var i = 0; i < distanceOptions.length; i++) {
            distanceOptions[i].disabled = false;
            distanceOptions[i].selected = false;
        }

        // If input type is Metaphone, disable IPA options and select the next available option
        if (inputType === 'mp') {
            distanceOptions[0].selected = true; // Select Metaphone Edit Distance
            distanceOptions[1].disabled = true; // IPA Edit Distance
            
        }
        // If input type is IPA, disable Metaphone options and select the next available option
        else if (inputType === 'ipa') {
            distanceOptions[1].disabled = true; // Metaphone Edit Distance
            distanceOptions[2].disabled = true; // Hybrid
            distanceOptions[0].selected = true; // Select IPA Edit Distance
        }
    });
    var genderSelector = document.getElementById('gender');
    var typeSelector = document.getElementById('input_type');
    var distSelector = document.getElementById('distance_dimension');
    if ('{{ gender }}'.length != 0) genderSelector.value = '{{ gender }}';
    if ('{{ input_type }}'.length != 0) typeSelector.value = '{{ input_type }}'; typeSelector.dispatchEvent(new Event('change'));
    if ('{{ distance_dimension }}'.length != 0) distSelector.value = '{{ distance_dimension }}';
    </script>
</body>
</html>
